

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/catch.js"></script>
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main>
        <section class="pokemonContainer">
            <h1><%= nameOfPokemon %></h1>
            <img id="pokemonImage" src="<%= imageSrc %>" alt="image of a pokemon" >
           
            <button id="pokeballButton" onclick="showMessage()"><img src="images/pokeball.png" alt=""></button>
            <p id="catchText"><%= message  %></p>
            <button type="button" value="Volgende pokemon" onClick="document.location.reload(true)"> Volgende pokemon </button>
        </section>
        
    </main>
    <%- include('partials/footer')  %>