<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
    <link rel="stylesheet" href="css/style.css">
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main id="compareMain">
        <div class="container text-center comparecontainer">
            <div class="row">
                <div class="col">
                    <section id="compareBody">
                        <h1>Vergelijk Pokémon</h1>
                        <form action="/getPokemon" method="post">
                            <input type="text" autocomplete="off" name="pokemon1" placeholder="pokemon 1" class="compareField">
                            <input type="text" name="pokemon2" autocomplete="off" placeholder="pokemon 2" class="compareField">
                            <button class="compareButton" type="submit">Vergelijk</button>
                            <div id="compareBox">
                                <% if (statsP1 === undefined) { %>
                                    <p>
                                        Welkom op onze Pokémon vergelijkingspagina! Kies twee Pokémon om te zien hoe ze zich tot elkaar verhouden, of geef ons er één en we zullen een willekeurige Pokémon vinden om te vergelijken. Heb je geen Pokémon om te geven? Geen probleem, we zullen twee willekeurige exemplaren voor je kiezen en vergelijken!
                                    </p>
                                <% }
                                else { %>
                                <div id="statsPokemon1" class="compareStats">
                                    <figure>
                                        <figcaption class="PokemonCompareName"><%= pokemon1Name %></figcaption>
                                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= picP1%>.png" alt="picture of pokemon1">
                                    </figure>
                                    <p>weight: <%= pokemon1Weight %></p>
                                    <% 
                                        for (let i = 0; i < statsP1.length; i++) {
                                    %>
                                            <% if (statsP1[i].base_stat>statsP2[i].base_stat) {%>
                                                <p style="color: green;"><%= statsP1[i].stat.name + ': ' + statsP1[i].base_stat%></p>
                                            <%}
                                            else if(statsP2[i].base_stat==statsP1[i].base_stat){%>
                                                <p style="color: darkgoldenrod;"><%= statsP2[i].stat.name + ': ' + statsP2[i].base_stat%></p>%>
                                            <%}
                                            else{ %>
                                                <p style="color: red;"><%= statsP1[i].stat.name + ': ' + statsP1[i].base_stat%></p>
                                            <% } %>
                                    <%
                                        };
                                    %>
                                </div>
                                <% } %>
                            <% if (statsP2 === undefined) { %>
                            <% }
                            else { %>
                                <div id="statsPokemon2" class="compareStats">
                                    <figure>
                                        <figcaption class="PokemonCompareName"><%= pokemon2Name %></figcaption>
                                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= picP2%>.png" alt="picture of pokemon1">
                                    </figure>
                                    <p>weight: <%= pokemon2Weight %></p>
                                <% 
                                        for (let i = 0; i < statsP2.length; i++) {
                                    %>
                                            <% if (statsP2[i].base_stat>statsP1[i].base_stat) {%>
                                                <p style="color: green;"><%= statsP2[i].stat.name + ': ' + statsP2[i].base_stat%></p>
                                            <%} 
                                            else if(statsP2[i].base_stat==statsP1[i].base_stat){%>
                                                <p style="color: darkgoldenrod;"><%= statsP2[i].stat.name + ': ' + statsP2[i].base_stat%></p>%>
                                            <%}
                                            else{ %>
                                                <p style="color: red;"><%= statsP2[i].stat.name + ': ' + statsP2[i].base_stat%></p>
                                            <% } %>
                                    <%
                                        };
                                    %>
                            </div>
                            <% } %>
                        </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer')  %> 