<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<form>
<div class="framed">

    <% for (let pokemon of allPokemon) { %>
        <button formmethod="post" formaction="/player/<%= player._id%>/pokemonChooser/add/<%= pokemon.id%>">
            <% if (pokemon.gifFront==null) {%>
                <%if(pokemon.imageFront==null){%>
                    <img src="<%=pokemon.officialArtwork %>"> <br>
                <% }else{%>
                    <img src="<%=pokemon.imageFront %>"> <br>
                <%} %>
            <%} else {%>
                <img src="<%=pokemon.gifFront %>"> <br>
            <% } %>
            <%= pokemon.name%> #<%=pokemon.id%> <br>                            
            <% for(let type of pokemon.types){%>                                
                <%= type %><img src=" /images/types/<%=type %>.gif">                                    
            <%}%>
        </button>
        <% } %>
</div>
</form>
<%- include("partials/footer") %>