



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whoIsThatPokemon</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/pokeApi.js"></script>
    <script defer src="js/searchBar.js"></script>
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main>
        
        <section class="whoPokemonContainer">
        
            
            <label for="generations">Choose a generation:</label>
            <select name="generations" id="generations" onchange="inputSelect()">
                
            </select>

            <section class="whoIsThatConatiner">
                
                    <img id="whoPokemonImage" src="<%= whoImageSrc %>" alt="Foto van pokemon">
                
                <p id="whoIsThatPokemonText">Who is <br> That <br> pokemon?</p>
                <p id="whoIsThatPokemonAni"><%= nameOfPokemon %></p>
                
            </section>
            <p id="resultText">Jouw attack is met 1 verhoogt!</p>

            
            
            <section class="whoSearchBar">
                <form autocomplete="off" onsubmit="!!(displayPokemon() & disableForm());return false;"> <!-- https://stackoverflow.com/questions/932653/how-to-prevent-buttons-from-submitting-forms -->
                    <label for="pokemonName"></label>
                    <input type="text" id="pokemonName" name="pokemonName"> 
                    
                </form>
                <ul id="whoSearchBarSection">
            
                </ul>
            </section>

            
        </section>
    </main>
    <%- include('partials/footer')  %>
   